* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: normal;
	margin: 0;
}