$letter-spacing: 0.03rem;

main {
  width: 100%;
  color: $black;
  font-family: $font-Montserrat;
  @include padding-1920;
  @include tablets {
    @include padding-768;
  }
  @include phones {
    @include padding-440;
  }
}

.topContainer {
  padding: 2rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 120px;

  h2 {
    font-size: $font-size-h3;
    font-weight: $font-weight-600;
  }

  #goBack {
    background-color: $white;
    color: #cfcfcf;
    height: 40px;
    display: flex;
    align-items: end;

    &:hover {
      color: $red;
    }

    @include tablets {
      font-size: 0.9rem;
      max-height: 40px;
    }

    @include phones {
      font-size: 0.85rem;
      max-height: 40px;
    }
  }
}

.cartItems {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;

  #emptyMsg {
    padding: 1rem 0;
    text-align: center;
    align-self: center;
    font-size: 1.1rem;
    color: gray;

    a {
      font-weight: $font-weight-600;
    }

    &:hover {
      color: $yellow;
    }
  }

  #cartList {
    display: flex;
    flex-flow: column nowrap;

    li:first-child {
      border-top: 2px solid gray;
    }

    li:last-child {
      border-bottom: 1.5px solid gray;
    }

    .cartItem {
      padding: 10px 0;
      display: grid;
      grid-template-columns: 20% 1fr 15% 15% 12%;
      align-items: center;
      border-top: 1px solid gray;
      border-bottom: 0.5px solid gray;

      @include tablets {
        grid-template-columns: 1fr 1fr 15% 17% 10%;
      }

      @include phones {
        grid-template-columns: fit-content(48%) 1fr 1fr;
        grid-template-rows: 1rem 90px auto;
        gap: 0.4rem;
        .itemName {
          grid-column: 2 / 4;
          font-size: 1rem;
        }

        .itemImage {
          grid-row: 1 / 4;
        }

        .itemCounter {
          grid-column: 2 / 3;
          justify-self: start;
        }

        .removeBtn {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
        }
      }

      .itemImage {
        min-width: 10rem;
        max-width: 15rem;
        min-height: 10rem;

        .itemPhoto {
          object-fit: cover;
          overflow: hidden;
          border-radius: 8px;
          min-width: 180px;
          max-width: 190px;
          max-height: 150px;

          @include phones {
            min-width: 150px;
            max-width: 180px;
          }
        }
      }

      .itemName {
        justify-self: left;
        font-weight: $font-weight-600;
        @include tablets {
          font-size: 1.2rem;
        }
      }

      .itemCounter {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid $black;
        border-radius: 6px;
        max-width: 80px;

        @include phones {
          align-self: start;
          justify-self: start;
        }

        button {
          border: none;
          background: white;
          font-size: 18px;
          width: 30px;
          height: 30px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          cursor: pointer;
          font-weight: bold;

          &:hover {
            background: #ddd;
          }
        }
        .increment {
          border-radius: 0 6px 6px 0;
          border-left: 1px solid $black;
        }

        .decrement {
          border-radius: 6px 0 0 6px;
          border-right: 1px solid $black;
        }
      }

      .price {
        font-size: 1.7rem;
        font-weight: $font-weight-600;
        letter-spacing: $letter-spacing;
        justify-self: end;
        @include tablets {
          justify-self: end;
          font-size: 1.5rem;
        }

        @include phones {
          font-size: 1.4rem;
          align-self: start;
          justify-self: end;
        }
      }

      .removeBtn {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(/assets/logos/close-cross.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        justify-self: right;
        cursor: pointer;
      }
    }
  }
}

.orderDetails {
  align-self: flex-end;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 70% 5rem;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;

  h3 {
    grid-column: 1 / 3;
    font-weight: $font-weight-600;
  }

  #totalItems,
  #totalSum {
    justify-self: right;
    font-size: 1.1rem;
    font-weight: $font-weight-600;
    letter-spacing: $letter-spacing;
  }
}

#orderForm {
  margin-top: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 0.2rem;
  margin-bottom: 100px;

  input,
  textarea {
    @include custom-input-focus;
    width: 40%;
    height: 2rem;
    padding: 0.2rem;
    border-radius: 0.5em;
    border: 1px solid gray;
    margin-bottom: 0.5rem;
    @include tablets {
      width: 60%;
    }

    @include phones {
      width: 100%;
    }
  }

  label {
    font-size: 1.1rem;
    font-weight: $font-weight-600;
  }

  #deliveryOptions {
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;
    font-size: 1.1rem;
    font-weight: $font-weight-600;

    label {
      display: grid;
      grid-template-columns: 20px 1fr;
      grid-template-rows: 1fr;
      column-gap: 0.4rem;
      align-items: center;
      font-size: 0.8rem;
      font-weight: $font-weight-400;

      input[type="radio"] {
        margin: 0;
        appearance: none;
        border: 1px solid #d3d3d3;
        width: 20px;
        height: 20px;
        content: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;

        &:checked {
          appearance: none;
          outline: none;
          padding: 0;
          content: none;
          border: none;
        }

        &:checked::before {
          position: absolute;
          color: $red;
          content: "\00A0\2713\00A0";
          font-weight: bolder;
          font-size: 1rem;
        }
      }
    }
  }

  #deliveryDate {
    color: #666666;
  }

  #orderComment {
    min-height: 4rem;
  }

  .agreePolicy {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    width: 60%;
    @include tablets {
      width: 65%;
    }

    @include phones {
      width: 100%;
    }

    label {
      font-size: 0.8rem;
      font-weight: $font-weight-400;
      a {
        font-weight: bold;

        &:hover {
          color: $yellow;
        }
      }
    }

    input[type="checkbox"] {
      margin: 0;
      padding: 0;
      appearance: none;
      border: 1px solid #d3d3d3;
      width: 100%;
      max-width: 20px;
      height: 20px;
      content: none;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;

      &:checked {
        appearance: none;
        outline: none;
        padding: 0;
        content: none;
        border: none;
      }

      &:checked::before {
        position: absolute;
        color: $red;
        content: "\00A0\2713\00A0";
        font-weight: bolder;
      }
    }
  }
  .orderFinal {
    align-self: flex-end;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 70% 5rem;
    grid-template-rows: repeat(3, 4fr);
    align-items: center;

    h3 {
      grid-column: 1 / 3;
      font-weight: $font-weight-600;
    }

    #totalItemsSum,
    #deliveryPrice,
    #totalOrderSum {
      justify-self: right;
      font-size: 1.1rem;
      font-weight: $font-weight-600;
      letter-spacing: $letter-spacing;
    }

    p:nth-child(6) {
      font-weight: $font-weight-600;
    }
  }

  .formBtns {
    margin: 1.5rem 0;
    align-self: center;
    display: flex;
    align-items: center;

    button {
      margin: 0 0.5rem;
      @include tablets {
        font-size: 0.9rem;
        padding: 10px 20px;
        max-width: 300px;
        height: 2.5rem;
      }

      @include phones {
        font-size: 0.85rem;
        padding: 8px 16px;
        max-width: 300px;
        height: 2.5rem;
      }
    }
  }
}

.validationError {
  padding: 0 0 0.3rem 0;
  font-size: $font-size-regular;
  font-weight: $font-weight-400;
  color: $red;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: $white;
  color: $red;
  border: none;
  padding: 1rem;
  height: 6rem;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    width: 70%;
    height: 8rem;
  }

  @include phones {
    width: 80%;
    height: 8rem;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $yellow;
    }
  }
}

.show-popup {
  display: flex;
}
