.catalogue {
  @include padding-1920;

  &__row {
    display: flex;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 250px;
    height: 230px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}
