.footer {
  width: 100%;
  flex-shrink: 0;
  @include padding-440;
  @include Montserrat-600-base;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "contacts"
    "address"
    "policy"
    "tax-info";
  row-gap: 0.2rem;
  text-align: center;

  &__contacts {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.2rem;
    @include Montserrat-600-base;
  }

  &__phone {
    font-size: 31px;
    display: block;
    margin-bottom: 10px;
  }

  &__address {
    margin-bottom: 1rem;
    a {
      p {
        font-size: 1.4rem;
        margin: 8px 0;
        display: block;
      }
    }
    .footer__work-label {
      @include Montserrat-500-base;
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 4px;
    }
    .footer__work-time {
      font-size: 14px;
      margin: 0;
    }
  }

  //Иконки соцсетей
  &__socials {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    margin-top: 10px;

    &-link {
      @include Montserrat-500-base;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      width: auto;
    }

    &-text {
      font-size: 10px;
      margin-top: 6px;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }

  &__social-text {
    font-weight: 500;
    font-size: 10px;
    margin-top: 6px;
  }

  &__policy {
    grid-area: policy;
    padding: 0 !important;
    justify-self: center;
    align-self: end;
    &-link {
      font-size: 0.7rem;
      @include Montserrat-500-base;
      color: $gray;
    }
  }

  &__tax-info {
    margin-bottom: 10px;
    font-size: 0.7rem;
    @include Montserrat-500-base;
    grid-area: tax-info;
    text-align: center;
    color: $gray;
  }

  // Tablets styles
  @media (min-width: $tablets) {
    @include padding-768;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "contacts address"
      "policy policy"
      "tax-info tax-info";

    &__address {
      text-align: left;
      justify-self: end;
    }

    &__socials {
      justify-content: flex-start;

      &-link {
        align-items: flex-start;
      }
    }

    &__tax-info {
      text-align: left;
      justify-self: end;
    }
  }

  // Desktop styles
  @media (min-width: 1024px) {
    @include padding-1920;
    column-gap: 7rem;
    &__contacts {
      justify-self: end;
    }

    &__address {
      justify-self: start;
    }
  }
}
