@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }  
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }  
}

@mixin phones-415 {
  @media screen and (max-width: $phones-415) {
    @content;
  }  
}

@mixin phones-375 {
  @media screen and (max-width: $phones-375) {
    @content;
  }  
}