// colors
$black: rgb(30, 26, 26);
$red: rgb(238, 27, 85);
$yellow: rgb(245, 210, 88);
$pink: rgb(242, 215, 219);
$blue: rgb(158, 209, 220);
$white: rgb(255, 255, 255);

//breakpoints
$tablets: 768px;
$phones: 440px;

//fonts
$font-Montserrat: "Montserrat", sans-serif;

$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;

$font-size-h1: 72px;
$font-size-h2: 56px;
$font-size-h3: 40px;
$font-size-h4: 24px;
$font-size-regular: 16px;

$line-height: normal;
