@charset "UTF-8";
@import "./normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 27, 85);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  width: 240px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Модификатор для центрирования */
  /* Модификатор «ссылка» */
}
.btn:hover {
  background-color: #c70f42;
  color: rgb(255, 255, 255);
}
.btn:active {
  transform: scale(0.98);
}
.btn:disabled, .btn.disabled {
  background-color: #f57a9c;
  cursor: not-allowed;
  opacity: 0.7;
}
.btn.btn--center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.btn.btn--link {
  background-color: transparent;
  color: rgb(30, 26, 26);
  border: 1px solid rgb(30, 26, 26);
}
.btn.btn--link:hover {
  color: rgb(238, 27, 85);
  border: 1px solid rgb(238, 27, 85);
}
.btn.btn--link:active {
  transform: none;
}
.btn.btn--transparent {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: rgb(238, 27, 85);
  border: 1px solid rgb(238, 27, 85);
  border-radius: 4px;
  text-decoration: none;
}
.btn.btn--transparent:hover {
  background-color: rgb(238, 27, 85);
  color: rgb(255, 255, 255);
}
.btn.btn--white-red {
  background-color: rgb(255, 255, 255);
  color: rgb(238, 27, 85);
  border: 1px solid rgb(238, 27, 85);
  /* Стили при наведении */
}
.btn.btn--white-red:hover {
  background-color: white;
  color: #c70f42;
  border-color: #c70f42;
}
.btn.btn--white-red:active {
  transform: scale(0.98);
}

html {
  font-family: "Montserrat", sans-serif;
  color: rgb(30, 26, 26);
  padding-left: 5.2%;
  padding-right: 5.2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-left: 16px;
  padding-right: 16px;
}

.topContainer {
  padding: 2rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.topContainer h2 {
  font-size: 40px;
  font-weight: 600;
}
.topContainer #goBack {
  background-color: rgb(255, 255, 255);
  color: #cfcfcf;
  height: 40px;
  display: flex;
  align-items: end;
}
.topContainer #goBack:hover {
  color: rgb(238, 27, 85);
}
@media screen and (max-width: 768px) {
  .topContainer #goBack {
    font-size: 0.9rem;
    max-height: 40px;
  }
}
@media screen and (max-width: 440px) {
  .topContainer #goBack {
    font-size: 0.85rem;
    max-height: 40px;
  }
}

.cartItems {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
.cartItems #emptyMsg {
  padding: 1rem 0;
  text-align: center;
  align-self: center;
  font-size: 1.1rem;
  color: gray;
}
.cartItems #emptyMsg a:hover {
  color: rgb(245, 210, 88);
}
.cartItems #cartList {
  display: flex;
  flex-flow: column nowrap;
}
.cartItems #cartList li:first-child {
  border-top: 2px solid gray;
}
.cartItems #cartList li:last-child {
  border-bottom: 1.5px solid gray;
}
.cartItems #cartList .cartItem {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 20% 1fr 15% 15% 12%;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 0.5px solid gray;
}
@media screen and (max-width: 768px) {
  .cartItems #cartList .cartItem {
    grid-template-columns: 1fr 1fr 15% 15% 12%;
  }
}
@media screen and (max-width: 440px) {
  .cartItems #cartList .cartItem {
    grid-template-columns: fit-content(48%) 1fr 1fr;
    grid-template-rows: 1rem 90px auto;
    gap: 0.4rem;
  }
  .cartItems #cartList .cartItem .itemName {
    grid-column: 2/4;
    font-size: 1rem;
  }
  .cartItems #cartList .cartItem .itemImage {
    grid-row: 1/4;
  }
  .cartItems #cartList .cartItem .itemCounter {
    grid-column: 2/3;
    justify-self: start;
  }
  .cartItems #cartList .cartItem .removeBtn {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
.cartItems #cartList .cartItem .itemImage {
  min-width: 10rem;
  max-width: 15rem;
  min-height: 10rem;
}
.cartItems #cartList .cartItem .itemImage .itemPhoto {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  min-width: 180px;
  max-height: 150px;
}
.cartItems #cartList .cartItem .itemName {
  justify-self: left;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .cartItems #cartList .cartItem .itemName {
    font-size: 1.2rem;
  }
}
.cartItems #cartList .cartItem .itemCounter {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(30, 26, 26);
  border-radius: 6px;
  max-width: 80px;
}
@media screen and (max-width: 440px) {
  .cartItems #cartList .cartItem .itemCounter {
    align-self: start;
    justify-self: start;
  }
}
.cartItems #cartList .cartItem .itemCounter button {
  border: none;
  background: white;
  font-size: 18px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}
.cartItems #cartList .cartItem .itemCounter button:hover {
  background: #ddd;
}
.cartItems #cartList .cartItem .itemCounter .increment {
  border-radius: 0 6px 6px 0;
  border-left: 1px solid rgb(30, 26, 26);
}
.cartItems #cartList .cartItem .itemCounter .decrement {
  border-radius: 6px 0 0 6px;
  border-right: 1px solid rgb(30, 26, 26);
}
.cartItems #cartList .cartItem .price {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  justify-self: end;
}
@media screen and (max-width: 440px) {
  .cartItems #cartList .cartItem .price {
    align-self: start;
    justify-self: end;
  }
}
.cartItems #cartList .cartItem .removeBtn {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/assets/logos/close-cross.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  justify-self: right;
  cursor: pointer;
}

.orderDetails {
  align-self: flex-end;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 70% 5rem;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
.orderDetails h3 {
  grid-column: 1/3;
  font-weight: 600;
}
.orderDetails #totalItems,
.orderDetails #totalSum {
  justify-self: right;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

#orderForm {
  margin-top: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 0.2rem;
}
#orderForm input,
#orderForm textarea {
  width: 40%;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 0.5em;
  border: 1px solid gray;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  #orderForm input,
  #orderForm textarea {
    width: 60%;
  }
}
@media screen and (max-width: 440px) {
  #orderForm input,
  #orderForm textarea {
    width: 100%;
  }
}
#orderForm label {
  font-size: 1.1rem;
  font-weight: 600;
}
#orderForm #deliveryOptions {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.3rem;
  font-size: 1.1rem;
  font-weight: 600;
}
#orderForm #deliveryOptions label {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
}
#orderForm #deliveryOptions label input[type=radio] {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #d3d3d3;
  width: 20px;
  height: 20px;
  content: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
}
#orderForm #deliveryOptions label input[type=radio]:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding: 0;
  content: none;
  border: none;
}
#orderForm #deliveryOptions label input[type=radio]:checked::before {
  position: absolute;
  color: rgb(238, 27, 85);
  content: " ✓ ";
  font-weight: bolder;
  font-size: 1rem;
}
#orderForm #deliveryDate {
  color: #666666;
}
#orderForm #orderComment {
  min-height: 4rem;
}
#orderForm .agreePolicy {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  width: 60%;
}
@media screen and (max-width: 768px) {
  #orderForm .agreePolicy {
    width: 65%;
  }
}
@media screen and (max-width: 440px) {
  #orderForm .agreePolicy {
    width: 100%;
  }
}
#orderForm .agreePolicy label {
  font-size: 0.8rem;
  font-weight: 400;
}
#orderForm .agreePolicy label a {
  font-weight: bold;
}
#orderForm .agreePolicy label a:hover {
  color: rgb(245, 210, 88);
}
#orderForm .agreePolicy input[type=checkbox] {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #d3d3d3;
  width: 100%;
  max-width: 20px;
  height: 20px;
  content: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
}
#orderForm .agreePolicy input[type=checkbox]:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding: 0;
  content: none;
  border: none;
}
#orderForm .agreePolicy input[type=checkbox]:checked::before {
  position: absolute;
  color: rgb(238, 27, 85);
  content: " ✓ ";
  font-weight: bolder;
}
#orderForm .orderFinal {
  align-self: flex-end;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 70% 5rem;
  grid-template-rows: repeat(3, 4fr);
  align-items: center;
}
#orderForm .orderFinal h3 {
  grid-column: 1/3;
  font-weight: 600;
}
#orderForm .orderFinal #totalItemsSum,
#orderForm .orderFinal #deliveryPrice,
#orderForm .orderFinal #totalOrderSum {
  justify-self: right;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
}
#orderForm .orderFinal p:nth-child(6) {
  font-weight: 600;
}
#orderForm .cartMsg {
  align-self: center;
}
#orderForm .cartMsg #emptyCart {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 0 0.3rem 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(238, 27, 85);
}
#orderForm .formBtns {
  margin: 1.5rem 0;
  align-self: center;
  display: flex;
  align-items: center;
}
#orderForm .formBtns button {
  margin: 0 0.5rem;
}
@media screen and (max-width: 768px) {
  #orderForm .formBtns button {
    font-size: 0.9rem;
    padding: 10px 20px;
    max-width: 300px;
    height: 2.5rem;
  }
}
@media screen and (max-width: 440px) {
  #orderForm .formBtns button {
    font-size: 0.85rem;
    padding: 8px 16px;
    max-width: 300px;
    height: 2.5rem;
  }
}

.validationError {
  padding: 0 0 0.3rem 0;
  font-size: 16px;
  font-weight: 400;
  color: rgb(238, 27, 85);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: rgb(255, 255, 255);
  color: rgb(238, 27, 85);
  border: none;
  padding: 1rem;
  height: 6rem;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .popup-content {
    width: 70%;
    height: 8rem;
  }
}
@media screen and (max-width: 440px) {
  .popup-content {
    width: 80%;
    height: 8rem;
  }
}
.popup-content a {
  text-decoration: underline;
}
.popup-content a:hover {
  color: rgb(245, 210, 88);
}

.show-popup {
  display: flex;
}/*# sourceMappingURL=cart.css.map */