@charset "UTF-8";
@import "./normalize.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(238, 27, 85);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  width: 240px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  /* Модификатор для центрирования */
  /* Модификатор «ссылка» */
}
.btn:hover {
  background-color: #c70f42;
  color: rgb(255, 255, 255);
}
.btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.btn:disabled, .btn.disabled {
  background-color: #f57a9c;
  cursor: not-allowed;
  opacity: 0.7;
}
.btn.btn--center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.btn.btn--link {
  background-color: transparent;
  color: rgb(30, 26, 26);
  border: 1px solid rgb(30, 26, 26);
}
.btn.btn--link:hover {
  color: rgb(238, 27, 85);
  border: 1px solid rgb(238, 27, 85);
}
.btn.btn--link:active {
  -webkit-transform: none;
          transform: none;
}
.btn.btn--transparent {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  color: rgb(238, 27, 85);
  border: 1px solid rgb(238, 27, 85);
  border-radius: 4px;
  text-decoration: none;
}
.btn.btn--transparent:hover {
  background-color: rgb(238, 27, 85);
  color: rgb(255, 255, 255);
}
.btn.btn--white-red {
  background-color: rgb(255, 255, 255);
  color: rgb(238, 27, 85);
  border: 1px solid rgb(238, 27, 85);
  /* Стили при наведении */
}
.btn.btn--white-red:hover {
  background-color: white;
  color: #c70f42;
  border-color: #c70f42;
}
.btn.btn--white-red:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.footer {
  width: 100%;
  padding-left: 5.2%;
  padding-right: 5.2%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "contacts" "address" "policy" "tax-info";
  row-gap: 0.2rem;
  text-align: center;
}
.footer__contacts {
  margin-bottom: 1rem;
}
.footer__title {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.footer__phone {
  font-size: 31px;
  display: block;
  margin-bottom: 10px;
}
.footer__address {
  margin-bottom: 1rem;
}
.footer__address a p {
  font-size: 1.4rem;
  margin: 8px 0;
  display: block;
}
.footer__address .footer__work-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 4px;
}
.footer__address .footer__work-time {
  font-size: 14px;
  margin: 0;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.7rem;
  margin-top: 10px;
}
.footer__socials-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}
.footer__socials-text {
  font-size: 10px;
  margin-top: 6px;
  display: block;
  width: 100%;
  text-align: center;
}
.footer__social-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
}
.footer__social-text {
  font-weight: 500;
  font-size: 10px;
  margin-top: 6px;
}
.footer__policy {
  grid-area: policy;
  padding: 0 !important;
  justify-self: center;
  align-self: end;
}
.footer__policy-link {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(160, 160, 160);
}
.footer__tax-info {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  grid-area: tax-info;
  text-align: center;
  color: rgb(160, 160, 160);
}
@media (min-width: 768px) {
  .footer {
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacts address" "policy policy" "tax-info tax-info";
  }
  .footer__address {
    text-align: left;
    justify-self: end;
  }
  .footer__socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__socials-link {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__tax-info {
    text-align: left;
    justify-self: end;
  }
}
@media (min-width: 1024px) {
  .footer {
    -webkit-column-gap: 7rem;
       -moz-column-gap: 7rem;
            column-gap: 7rem;
  }
  .footer__contacts {
    justify-self: end;
  }
  .footer__address {
    justify-self: start;
  }
}