@import "./variables";
@import "./mixins";
@import "./media";
@import "./base";

// import fonts
@import "../fonts/fonts";

// link normalize
@import "./normalize.css";

// common blocks
@import "./button";

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "contacts"
    "address"
    "policy"
    "tax-info";
  padding: 20px;
  font-family: $font-Montserrat;

  & > div {
    padding: 10px;
    margin-bottom: 10px;
  }

  &__contacts {
    grid-area: contacts;
  }

  &__address {
    grid-area: address;
  }

  &__policy {
    grid-area: policy;
    text-align: center;
  }

  &__tax-info {
    grid-area: tax-info;
    justify-self: end;
  }

  // &__phone {
  //   font-size: 10px;
  // }

  /* Tablet styles */
  @media (min-width: $tablets) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "contacts address"
      "policy  policy"
      "tax-info tax-info";

    &__phone {
      font-size: 30px;
    }

    &__address {
      justify-self: end;
    }

    &__tax-info {
      justify-self: end;
    }
  }

  /* Desktop styles */
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "contacts address"
      "policy  policy"
      "tax-info tax-info";
    // &__phone {
    //   font-size: 30px;
    // }
  }
}
