@charset "UTF-8";
@import "./normalize.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* Пример шаблона базового стиля кнопки */
.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  /* Используем Montserrat с весом 600 (Semibold) */
  font-size: 16px;
  width: 240px;
  height: 60px;
  background-color: rgb(255, 255, 255); /* Белый фон */
  color: rgb(238, 27, 85); /* Текст красного цвета */
  border: 1px solid rgb(238, 27, 85); /* Красная рамка толщиной 1px */
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  /* Состояние при наведении */
  /* Состояние при нажатии/активное */
  /* Отключённая кнопка */
  /* Адаптив */
}
.btn:hover {
  background-color: #c70f42; /* затемняем фон на 10% */
  color: rgb(255, 255, 255); /* делаем текст белым для контраста */
}
.btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.btn:disabled, .btn.disabled {
  background-color: #f57a9c;
  border-color: #f57a9c;
  cursor: not-allowed;
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 440px) {
  .btn {
    padding: 8px 16px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "contacts" "address" "policy" "tax-info";
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  /* Tablet styles */
  /* Desktop styles */
}
.footer > div {
  padding: 10px;
  margin-bottom: 10px;
}
.footer__contacts {
  grid-area: contacts;
}
.footer__address {
  grid-area: address;
}
.footer__policy {
  grid-area: policy;
  text-align: center;
}
.footer__tax-info {
  grid-area: tax-info;
  justify-self: end;
}
@media (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacts address" "policy  policy" "tax-info tax-info";
  }
  .footer__phone {
    font-size: 30px;
  }
  .footer__address {
    justify-self: end;
  }
  .footer__tax-info {
    justify-self: end;
  }
}
@media (min-width: 1200px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacts address" "policy  policy" "tax-info tax-info";
  }
}